.btnPlace {
  outline: none;
  height: 100px;
  text-align: center;
  width: 100px;
  border-radius: 40px;
  background: white;
  margin-top: 30px;
  border: 5px;
  border-color: black;
  color: #322B2B;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.btnPlace :hover {
  opacity: 40;
  border-radius: 40px;
  background: #dadbd4;
}
.btnPlace:active {
  letter-spacing: 2px;
}
